<html>
  <head>
    <title>Climate API</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
      
    </style>
  </head>
  <body>
    <h1>Welcom to the Climate Analysis API</h1>
    <p>Avaliable Routes:</p>
    <ul>
      <li><a href="/api/v1.0/precipitation">/api/v1.0/precipitation</a></li><br>
      <li><a href="/api/v1.0/stations">/api/v1.0/stations</a></li><br>
      <li><a href="/api/v1.0/tobs">/api/v1.0/tobs</a></li><br>
      <li><a href="/api/v1.0/start/end">/api/v1.0/temp/start/end</a></li>
      <p>add start and end dates to recive min, avg, and max for that range</p>
    </ul>
  </body>
</html>
